<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row justify-content-center mb-3">
    <%= form.label :make, class: 'mr-4' %>
    <%= form.text_field :make, class: 'form-control w-25' %>
  </div>

  <div class="field  form-group row justify-content-center mb-3">
    <%= form.label :model, class: 'mr-4' %>
    <%= form.text_field :model, class: 'form-control w-25' %>
  </div>

  <div class="field  form-group row justify-content-center mb-3">
    <%= form.label :year, class: 'mr-4' %>
    <%= form.number_field :year, class: 'form-control w-25' %>
  </div>

  <div class="actions  form-group row justify-content-center">
    <%= form.submit %>
  </div>
<% end %>
